.navbar {
  background-color: white;
  background-image: none;
  background-repeat: no-repeat;
  padding: 20px;
  height: 100px;
}
.logo {
  display: absolute
}
.nav-item .nav-link {
  color: #D1B781;
  font-size: 2.1em;
  font-family: 'Amatic SC', cursive;
  letter-spacing: 3px;
}
.navbar-nav {
  font-family: 'Amatic SC', cursive;
  letter-spacing: 3px;
  color: #D1B781;
  font-size: 2.1em;
}
a:hover {
  color: #9E8C64;
}
a:hover:hover {
  text-decoration: underline;
}
h3{
  text-align: left;
  font-family: 'Amatic SC', cursive;
    color: #6C6250;

  font-size: 60px;
}
.hair{
  color: F5D2E1;S
}
#footer{
  font-size: 27px;
  background-color: white;
}
.footer{
  background-color: white;
}
.social-icons{
  font-size: 27px;
  background-color: white;
}
.hair{
  background-color: F5D2E1;S
}
.hairprices{
  font-family: 'Amatic SC', cursive;
  color: #6C6250;
}
h1{
  font-size: 55px;
}
.hair1{
  border: 200px white;
}
