
.navbar {
  background-color: white;
  background-image: none;
  background-repeat: no-repeat;
  padding: 20px;
  height: 100px;
}
.logo {
  display: absolute
}
.nav-item .nav-link {
  color: #D1B781;
  font-size: 2.1em;
  font-family: 'Amatic SC', cursive;
  letter-spacing: 3px;
}
.navbar-nav {
  font-family: 'Amatic SC', cursive;
  letter-spacing: 3px;
  color: #D1B781;
  font-size: 2.1em;
}
body {
  padding-right: 20px;
  background-color: #F1ECDF;
}
a {
  margin: 9px;
  font-size: 100%;
}
ul {
  background-color: white;
}
a:hover {
  color: #9E8C64;
}
a:hover:hover {
  text-decoration: underline;
}
.header {
  padding-left: 12%;

}
.col-sm-4{
  align: center;
}
.bar {
  color: black;
  background-color: #F1DFED;
  padding: 11.67px;
  width: 75%;
  height: 70px;
  margin: 16.67px auto 0;
  font: 30px/40px 'Bree Serif', Courier, monospaced;
  text-align: center;
  position: inherit;
  text-transform: uppercase;
  border: 0.66px transparent solid;
  box-shadow: 0 3.33px 10px -3.33px gray;
  top: 1%;
  margin-bottom: 30%;
  z-index: -0.1;
  margin-bottom: 35%;
}
.bar span {
  position: absolute;
}
.bar span:nth-child(1){
  border-style: solid;
  border-width: 15px;
  z-index: -0.5;
  left: -0.5%;
}
.bar span:nth-child(1) {
  border-color: grey grey transparent transparent;
  top: 101%;
  left: -0.2%;
  z-index: -2;
}
.bar span:nth-child(3) {
  border-color: grey transparent transparent grey ;
  top: 101%;
  left: 97%;
  z-index: -2;
  border-style: solid;
  border-width: 15px;
}
.bar span:nth-child(2){
  top: 58%;
  border-style: solid;
  border-width: 30px;
  z-index: -7;
}
.bar span:nth-child(4) {
  top: 58%;
  border-style: solid;
  border-width: 30px;
  z-index: -7;
  left: 96%;
  position: absolute;
}
.bar span:nth-child(2) {
  border-color: #F5D2E1 #F5D2E1 #F5D2E1 transparent;
  left: -33px;
  box-shadow: 20px 20px 30px -10px grey;
}
.bar span:nth-child(4) {
  border-color: #F5D2E1 transparent #F5D2E1 #F5D2E1;
  left: 97%;
  box-shadow: -6.67px 6.33px 10px -3.33px grey;
}
h3{
  text-align: left;
  font-family: 'Amatic SC', cursive;
  color: #6C6250;
  font-size: 60px;
}
#footer{
  font-size: 27px;
  background-color: white;
}
.col-md-6 {
  position: inherit;

}
.img-fluid {
  z-index: -3;
  opacity: 0.5;
}
.parent {
  position: relative;
  top: 0;
  z-index: 3;

}
.image1 {
  position: relative;
  margin-top: -80px;
  z-index: -3;
  padding-bottom: 20%;
  width: 100%;
}
.text-box {
position: relative;
margin-top: -80px;
z-index: -2;
background-color: lightgray;
}
@media (max-width: 700px) {
  .bar {
    height: 60px;

}

.image1 {
  display: none;
}
}
.image1 {
  max-width: 100%;

  height: auto;
}

.foot {
  background-color: white;
}
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: -1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 100px;
  color: black;
  background-color: #F1DFED;

}
/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}
.sidenav li {
  font-family: 'McLaren', cursive;
}
.sidenav h2 {
  font-family: 'Amatic SC', cursive;
  font-size: 50px;
}
/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}
/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}
.footer{
  background-color: white;
}
.container {
  position: relative;
}
h6 {
  position: absolute;
  padding-top: 200px;
  background-color: white;
  z-index: 2;
}

.dropdown-menu {
  position: absolute;
  font-size: 60%;
  background-color: white;
  color: black;
  height: 500px;
  z-index: 1;
  width: 200%;
  margin-left: 4%;
  margin-top: -65px;
  padding-top:7.5%;
  flex: auto;
}

p {
  font-size: 15px;
  line-height: 80%;
}
.btn {
  opacity: 1;
}
.row {
  line-height: 20px;

}
.btn {
  margin-top: -15px;
  font-size: 16px;
  border: none;
  color: black

}
/* Dropdown Content (Hidden by Default) */
.dropdown-menu {
  display: none;
  position: absolute;
  width: 500px;
  height: 600%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0);
  z-index: 9999999;
  flex: initial;
  margin-top: -15px;
  padding-top: 2px;
  font-size: 70%;
  margin:0 -3%;
  border-width: thin;
  border-radius: 0;
  left: 50% !important;
  right: auto !important;
  text-align: center !important;
  transform: translate(-50%, 0) !important;
  background-color: white;
  word-wrap:break-word;
  overflow: inherit;
  float: right;
}
.dropdown-menu h7 {
  font-family: 'Amatic SC', cursive;
  font-size: 100%;
  z-index: 9999999;
}
.dropdown-menu p {
  font-family: 'McLaren', cursive;
  font-size: 60%;
  word-wrap: break-word;
  z-index: 9999999;


}
.col-lg-12 {
  font-family: 'Sacramento', cursive;
  text-transform: lowercase;
  font-size: 45px;
}

a {
  position:relative;
}
.row {
  z-index: -2;
}
.tiny-text {
  font-size: 40%;
}
/* Links inside the dropdown */
.dropdown-menu a {
  color: black;
  display: block;
  z-index: 2;
  position: relative;
}
.container {
  position: static;
  background-color: white;
}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-menu {display: inline-block; flex: auto; z-index: 9999999;}
/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .btn {color: black;}

#footer{
  font-size: 27px;
  background-color: white;
}
.footer{
  background-color: white;
}
.social-icons{
  font-size: 27px;
  background-color: white;
}
h3{
  text-align: left;
  font-family: 'Amatic SC', cursive;
    color: #6C6250;

  font-size: 60px;
}
