
.navbar{
  background-color: white;
  background-image: none;
  background-repeat: no-repeat;
  padding: 20px;
  height: 100px;
}
.nav-item, .nav-link {
  color: #D1B781;
  font-size: 1.75em;
  font-family: 'Amatic SC', cursive;
  letter-spacing: 3px;
}
a:hover {
  color: #9E8C64;
}
a:hover:hover {
  text-decoration: underline;
}
.carousel-caption {
opacity: 0.8;
top: 30%;
bottom: auto;
}
.carousel-caption img {

}

@media (max-width: 900px) {
  .carousel-caption {
    top: 10%;
    bottom: auto;
  }
  .ourlogo {
    height: 150px;
    width: 400px;
  }
}


/* Dropdown Button */
.btn {
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {

}

/* Dropdown Content (Hidden by Default) */
.dropdown-menu {
  display: none;
  position: absolute;
  background-color: pink;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-menu a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-menu a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-menu {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}
.footer-image {
  height: 100px;
  width: 90px;
}
.col-sm-4{
  align: center;
}
.bar {
  color: #FFF;
  background-color: #F5D2E1;
  padding: 11.67px;
  width: 158px;
  margin: 16.67px auto 0;
  font: 11.67px/16.67px 'Bree Serif', Courier, monospaced;
  text-align: center;
  position: relative;
  text-transform: uppercase;
  border: 0.66px transparent solid;
  box-shadow: 0 3.33px 10px -3.33px gray;
}

.bar span {
  position: absolute;
}

.bar span:nth-child(1),.bar span:nth-child(3) {
  border-style: solid;
  border-width: 5px;
  z-index: -0.33;
}
.bar span:nth-child(1) {
  border-color: grey grey transparent transparent;
  top: 40px;
  left: -0.67px;
}
.bar span:nth-child(3) {
  border-color: grey transparent transparent grey ;
  top: 40px;
  left: 147.3px;
}

.bar span:nth-child(2), .bar span:nth-child(4) {
  top: 10px;
  border-style: solid;
  border-width: 20px;
  z-index: -2;
}
.bar span:nth-child(2) {
  border-color: #F5D2E1 #F5D2E1 #F5D2E1 transparent;
  left: -30px;
  box-shadow: 20px 20px 30px -10px grey;
}
.bar span:nth-child(4) {
  border-color: #F5D2E1 transparent #F5D2E1 #F5D2E1;
  left:
  right:

  left: 440px;
  box-shadow: -6.67px 6.33px 10px -3.33px grey;
}
h3{
  font-family: 'Amatic SC', cursive;
  color: #6C6250;
  font-size: 75px;

}
#footer{
  font-size: 30px;
  color: black;
}
